/* Header.css */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  background-color: #fff;
  box-shadow: 1px 1px 1px 1px rgb(218, 209, 209);
  font-weight: bold;
  font-size: 20px;
  position: relative; /* Para posicionar el menú absoluto */
}

.brand {
  font-size: 24px;
}

strong {
  color: rgb(153, 160, 160);
}

strong:hover {
  background-image: linear-gradient(to right, #ac9826b9, #11e9af, #11e9af);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 20px;
}

.nav-item {
  list-style-type: none;
}

.nav-link {
  text-decoration: none;
  color: rgb(156, 148, 144);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 15px;
}

.nav-link:hover {
  background-image: linear-gradient(to right, #ac9826b9, #ac9826b9, #11e9af);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.contact {
  display: flex;
  align-items: center;
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  height: 24px;
  cursor: pointer;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: #333;
  border-radius: 5px;
  transition: all 0.3s ease;
}

@media (max-width: 768px) {
  .nav-list {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: calc(100vh - 500px);
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    transform: translateY(-130%);
    transition: transform 0.3s ease-in-out;
    z-index: 1; /* Asegurarse de que esté por encima de otros elementos */
  }

  .nav.open .nav-list {
    transform: translateY(0);
  }

  .hamburger {
    display: flex;
    z-index: 2;
  }

  .contact {
    display: none;
  }
}
