.proyectos-container {
    padding: 20px;
    padding-bottom: 30px;
    background: linear-gradient(135deg, #e8f5e9, #ffffff);
  }
  .itemProyectos{
    /* background-color: olivedrab; */
    text-align: center;
    
    
  }
  .servicesTitle {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 2rem;
    animation: fadeIn 1.5s ease-in-out;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
  
  }
  .project-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 10px; /* Espacio entre los elementos del carrusel */
    width: calc(100% - 30px); /* Para que se ajuste al ancho del contenedor en móviles */
  }
  
  .project-card:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }
  
  .project-image {
    width: 100%;
    height: 200px;
    object-fit:calc(100vw);
    
  }
  
  .project-info {
    padding: 20px;
  }
  
  .project-info h3 {
    margin: 0 0 10px;
    font-size: 1rem;
    color: #333;
  }
  .project-info h4 {
    margin: 0 0 10px;
    font-size: 0.9rem;
    color: #13887e;
    
  }
  
  .project-info p {
    margin: 0 0 20px;
    color: #666666;
    margin-top: 10px;
    font-size: 0.8rem;
    margin-bottom: 25px;
  }
  .buttonProyecto{
    background-color: rgb(12, 65, 240);
    padding: 11px 20px;
    border-radius: 2px;
  }
  .project-info a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .project-info a:hover {
    text-decoration: underline;
  }
  
  /* Ajustes adicionales para móviles */
  @media (max-width: 464px) {
    .project-card {
      margin: 0 auto 10px auto; /* Centrar el card y dar margen inferior */
      width: calc(100% - 20px); /* Ajustar ancho en móviles */
    }
  
    .project-info {
      padding: 10px; /* Reducir padding en móviles */
    }
  
    .project-info h3 {
      font-size: 1.2rem; /* Reducir tamaño de fuente en móviles */
    }
  }
  